In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# magic function - to plot in notebook
%matplotlib inline

In [28]:
oo = pd.read_csv("./Olympics.csv",skiprows=4,encoding='latin-1')
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
pwd

'C:\\Users\\lee'

## Plot Types
###  plot()  - default = line
###  plot(kind='line')
###  plot(kind='pie)
###  plot(kind='bar')
###  plot(kind='barh')

In [ ]:
fo= oo[oo.Edition ==1896]
fo.head()

In [ ]:
fo.Sport.value_counts()

### Line Plot

In [ ]:
fo.Sport.value_counts().plot(kind='line',figsize=(10,3));

In [ ]:
fo.Sport.value_counts().plot(kind='bar',figsize=(10,3));

In [ ]:
fo.Sport.value_counts().plot(kind='barh',figsize=(10,3));

In [ ]:
fo.Sport.value_counts().plot(kind='pie',figsize=(10,10));

## Plot Colors

In [ ]:
fo.Sport.value_counts().plot(kind='line',color='plum',figsize=(10,3));

In [ ]:
fo.Sport.value_counts().plot(kind='barh',color='red',figsize=(10,8));

# Colormaps
## Diverging
## Sequential
## Qualitative

In [ ]:
fo.Sport.value_counts().plot(kind='pie',colormap='Pastel1',figsize=(10,10));

# Seaborn

## countplot

In [ ]:
sns.countplot(x='Medal', data=oo,hue='Gender')

In [ ]:
coo=oo[(oo.Edition==2008) & (oo.NOC == 'CHN')]
coo.Gender.value_counts().plot(kind='bar');

In [ ]:
sns.countplot(x='Gender', data=oo);

In [ ]:
sns.countplot(x='Gender', data=oo,palette='bwr');

In [ ]:
sns.countplot(x='Gender', data=coo,hue='Medal');

In [ ]:
sns.countplot(x='Medal', data=coo,hue='Gender');

In [ ]:
sns.countplot(x='Medal', data=coo,hue='Gender',palette='seismic',order=['Gold','Silver','Bronze']);

# Index = an immutable array, to access a row or a column by label tag

In [ ]:
type(oo.index)

In [ ]:
oo.index[100]

### index is IMMUTABLE

### set_index()
#### dataFrame.set_index(keys,drpo=True,append=False,inplace=False,verify _integrity=false)
#### Set the Dataframe using one or more COLUMNS

### set_index(keys,inplace=True)

In [ ]:
oo.head(3)

#### let's reset the index

In [ ]:
oo.set_index(oo.Athlete)

In [ ]:
row = 0
col = 1

### need to use   inplace=True to permanently change the original  DataFrame

In [ ]:
oo.set_index(oo.Athlete,inplace=True)
ath = oo.copy()
ath.head()
ath.drop('Discipline',axis=1)
ath.head()

In [ ]:
ath = oo.set_index('Athlete')
ath.head()

In [ ]:
ath.reset_index(inplace=True)
ath.head()

### sort_index(axis=0,level=None,ascending=true, inplace=False,...,by None)

In [ ]:
ath.head()

In [ ]:
ath.sort_index(inplace=True,ascending=False)
ath.head(5)

# loc[ ]
## DataFrame.loc[ ]   or DataFrame.Series.loc[ ]
### a label-based indexer for selection by label
### loc[] will raise a KeyError when the items are not found

In [ ]:
oo.set_index('Athlete',inplace=True)

In [ ]:
oo.loc['BOLT, Usain']

In [ ]:
oo.reset_index(inplace=True)
oo.head()

In [ ]:
oo[oo.Athlete=='BOLT, Usain']

# DataFrame.iloc[ ]   and integer position based (from 0 to -1 of the axis)

In [ ]:
gg = oo.copy(deep=True)

In [ ]:
gg.head(2)
gg.drop('level_0',inplace=True,axis=1)

In [ ]:
gg.drop('index',inplace=True,axis=1)
gg.head()

In [ ]:
gg.index

In [ ]:
oo.head(5)

In [ ]:
oo.iloc[1000:1008]

## can use a list in iloc

In [ ]:
r = list(range(1000,1008))
print(r)
oo.iloc[r]

In [ ]:
sns.countplot(x='Edition', data=oo);

In [ ]:
oo.Edition.value_counts().sort_index().plot(kind='bar',color='red',figsize=(15,6));

In [ ]:
yr2008 = oo[(oo.Edition == 2008) ]
all = oo['NOC'].unique()
all08 = yr2008.NOC.unique()
#print(all08)
#print(all)
nowin = [x for x in all if x not in all08 ]
nowin.sort()
all2= list(all)
#nowin
all2.sort()
all2

In [ ]:
len(all)

In [ ]:
len(nowin)

In [ ]:
lo = oo[oo.Edition==2008]

In [ ]:
noc = pd.read_csv('./IOC_COUNTRY_CODES.csv')
noc.head()

In [ ]:
# examine differenes between 'Country' and 'Country.1'

In [ ]:
noc[noc['Country'] == noc['Country.1']]

In [ ]:
x1 = noc['Country'].sort_values()
x2 = noc['Country.1'].sort_values()
for x in range(len(noc['Country'])):
    if x1.iloc[x] == x2.iloc[x]:
        print('{} is in both'.format(noc['Country'].iloc[x]))

In [ ]:
for i in range(len(x1)):
    print('{} <<< >>> {}'.format(x1.iloc[i],x2.iloc[i]))

In [ ]:
# set noc index 
noc.set_index('Int Olympic Committee code',inplace=True)
noc.head()

In [ ]:
noc.Country.loc['ASA']

In [ ]:
medals_2008=lo.NOC.value_counts()
noc.head()

In [ ]:
zzz = noc[noc.medal_2008.isnull()]
zzz

In [ ]:
vvv = list(zzz.index)
vvv
#vv =vvv.sort()
print(len(vvv))